---
layout: default
---

<div id="geekstorm">
  <div id="geekstorms-past">

    <ul class="posts">
      {% for post in site.categories.geekstorm %}
        <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <div>
            <p class="geekstorm-content">{{ post.content  }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div id="geekstorms-upcoming">
    {% for post in site.categories.upcoming %}
      <li>
        <a>{{ post.title }}</a>
      </li>
    {% endfor%}
  </div>
  <div class="clear"></div>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
