---
layout: default
---

<div id="geekstorm">
  <div id="geekstorms-past">


    <ul class="posts">
      {% for post in site.categories.geekstorm %}
        <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <div>
          {% if post.introduction %}  
            <p class="geekstorm-introduction">{{ post.introduction }}</p>
          {% endif %}  
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div id="geekstorms-upcoming">
    <p>Upcoming GeekStorm Events</p>
    <ul class="posts">
      {% for post in site.categories.upcoming %}
        <li>
          <a class="side-post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <p>{{ post.event-date}}</p>
        </li>
      {% endfor%}
    </ul>
  </div>
  <div class="clear"></div>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
